body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#020617);
color:white;
text-align:center;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

.card{
background:#111827;
padding:20px;
border-radius:15px;
}

input{
padding:10px;
margin:8px 0;
border-radius:8px;
border:none;
width:100%;
}

button{
padding:12px;
margin:8px 0;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
}

.full{
width:100%;
background:#334155;
color:white;
}

.start{
width:100%;
background:#3b82f6;
color:white;
}

.top{
display:flex;
justify-content:space-between;
font-size:20px;
margin-bottom:10px;
}

#word{
font-size:38px;
margin:30px 0;
background:#111827;
padding:30px;
border-radius:15px;
}

.buttons button{
width:45%;
margin:10px;
}

.correct{
background:#22c55e;
color:white;
}

.wrong{
background:#ef4444;
color:white;
}

.hidden{
display:none;
}

#score{
margin-top:20px;
background:#111827;
padding:15px;
border-radius:12px;
}